<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DKey</key>
	<string>dc7456b925237011acae26674195527e9a9d65fcf0ff1dffebf8d89556bd947d</string>
	<key>ECID</key>
	<integer>3172388429103</integer>
	<key>EMF</key>
	<string>a36f273654eadaeaa6fa620e939a63561b8a87f0cc3c76073be04bbb463fc274</string>
	<key>KeyBagKeys</key>
	<data>
	REFUQQAABORWRVJTAAAABAAAAARUWVBFAAAABAAAAABVVUlEAAAAEPUN1me4Z0+FnQZW
	TbLjStFITUNLAAAAKHGKvuEGJhjAVNOtJVPXUx5RhThq+9MBO28oZL3Zn2K9EvIGXU2v
	6RtXUkFQAAAABAAAAAFTQUxUAAAAFLBE/6ovKlmTixply6YZtnQjDW3DSVRFUgAAAAQA
	AMNQVVVJRAAAABDC1okw7Y9JCLNnnEIqJ0kRQ0xBUwAAAAQAAAALV1JBUAAAAAQAAAAB
	S1RZUAAAAAQAAAAAV1BLWQAAACCMubK8IIIVSbzaFqqkfOKmoSalvsjroionFTQgj5Bq
	p1VVSUQAAAAQGnifztiyRjOukErwAKg7LENMQVMAAAAEAAAACldSQVAAAAAEAAAAA0tU
	WVAAAAAEAAAAAFdQS1kAAAAohrzfF/McOtgUMv+jbeo/ce8cOIqUswSGhdMP23Uopc0+
	O0XJM928+1VVSUQAAAAQFKTlrsadTLm/0T95l2jMVkNMQVMAAAAEAAAACVdSQVAAAAAE
	AAAAA0tUWVAAAAAEAAAAAFdQS1kAAAAo4wE51pqwesu3NNYXOY9Fn26jrrgm2R55ugit
	vKsk8abgNzd7aMJQEFVVSUQAAAAQcWCJZKMhQ/umjW3fmI/i5ENMQVMAAAAEAAAACFdS
	QVAAAAAEAAAAAUtUWVAAAAAEAAAAAFdQS1kAAAAgHQuQBiLvmFdlDuE0unYSHjlZoyGQ
	R43grrZCJisv+GVVVUlEAAAAEE5aNjg1vknXgL+dwQIWoFpDTEFTAAAABAAAAAdXUkFQ
	AAAABAAAAANLVFlQAAAABAAAAABXUEtZAAAAKExbffKMmrqv2GCZ5qAGFDIVDzeoJjg9
	NwyZ7xh+mbL9hkIP/2gQ5atVVUlEAAAAEOmy6izQi07ytkl4FWHo+YxDTEFTAAAABAAA
	AAZXUkFQAAAABAAAAANLVFlQAAAABAAAAABXUEtZAAAAKJ6ZykTzLw1/GlO5DLPCPcVa
	ib4WbNum+mcTRQvAR15tt1TS/aABoBhVVUlEAAAAEItPkatU60W1qPC++DiE1Y5DTEFT
	AAAABAAAAAVXUkFQAAAABAAAAANLVFlQAAAABAAAAABXUEtZAAAAKKEIrFaZP4a7KLpe
	8yCPScGGhC3qcMfDKzfkJ9Xm8sw7Zow6lqVWnZlVVUlEAAAAEArAFputk0v7rQbWHsC9
	OgRDTEFTAAAABAAAAANXUkFQAAAABAAAAANLVFlQAAAABAAAAABXUEtZAAAAKIAAJ1Xv
	AQA3jzeqNbcXMKm8twMF6pKxIjukh8uchC6VfZhfKEkhRs9VVUlEAAAAEJ5oFdNjK0S2
	hA3a1HgS2OJDTEFTAAAABAAAAAJXUkFQAAAABAAAAANLVFlQAAAABAAAAAFXUEtZAAAA
	KKkHmvZsAKjOkV8FIEL3sO9rtZmKRihpQk6BTZZaMrTtsmPQVALm4cxQQktZAAAAIKcM
	yJLRWvWlbUSGdpSmEgzhfwmQOEZe0usl3TJ7UIpFVVVJRAAAABBL/4E4TUBJdKyqIb6Y
	cWwTQ0xBUwAAAAQAAAABV1JBUAAAAAQAAAADS1RZUAAAAAQAAAAAV1BLWQAAACgLKiTQ
	maldBELJ7hyuO8rh+TxWOMP7sQ1zx2ct4OJy1gzbimTCDjY9U0lHTgAAABSLDTLS0qEu
	6cMok/TlF0D4+SEfew==
	</data>
	<key>btMac</key>
	<string>00:00:00:00:00:00</string>
	<key>dataVolumeOffset</key>
	<integer>356352</integer>
	<key>dataVolumeUUID</key>
	<string>ff8e611f89995e59</string>
	<key>hwModel</key>
	<string>N92AP</string>
	<key>kern.bootargs</key>
	<string>rd=md0 pio-error=0 -v  </string>
	<key>key835</key>
	<string>6883a49594963f261252a3dc7a4ec27a</string>
	<key>key899</key>
	<string>33c700be28c34ff3b944806fb7c8678a</string>
	<key>key89A</key>
	<string>ab64e8331ce7004b3cf7659699db9588</string>
	<key>key89B</key>
	<string>09de26bf80f0e9fc00310dab4f38d9e5</string>
	<key>keybags</key>
	<dict>
		<key>f50dd667b8674f859d06564db2e34ad1</key>
		<dict>
			<key>KeyBagKeys</key>
			<data>
			REFUQQAABORWRVJTAAAABAAAAARUWVBFAAAABAAAAABVVUlEAAAA
			EPUN1me4Z0+FnQZWTbLjStFITUNLAAAAKHGKvuEGJhjAVNOtJVPX
			Ux5RhThq+9MBO28oZL3Zn2K9EvIGXU2v6RtXUkFQAAAABAAAAAFT
			QUxUAAAAFLBE/6ovKlmTixply6YZtnQjDW3DSVRFUgAAAAQAAMNQ
			VVVJRAAAABDC1okw7Y9JCLNnnEIqJ0kRQ0xBUwAAAAQAAAALV1JB
			UAAAAAQAAAABS1RZUAAAAAQAAAAAV1BLWQAAACCMubK8IIIVSbza
			FqqkfOKmoSalvsjroionFTQgj5Bqp1VVSUQAAAAQGnifztiyRjOu
			kErwAKg7LENMQVMAAAAEAAAACldSQVAAAAAEAAAAA0tUWVAAAAAE
			AAAAAFdQS1kAAAAohrzfF/McOtgUMv+jbeo/ce8cOIqUswSGhdMP
			23Uopc0+O0XJM928+1VVSUQAAAAQFKTlrsadTLm/0T95l2jMVkNM
			QVMAAAAEAAAACVdSQVAAAAAEAAAAA0tUWVAAAAAEAAAAAFdQS1kA
			AAAo4wE51pqwesu3NNYXOY9Fn26jrrgm2R55ugitvKsk8abgNzd7
			aMJQEFVVSUQAAAAQcWCJZKMhQ/umjW3fmI/i5ENMQVMAAAAEAAAA
			CFdSQVAAAAAEAAAAAUtUWVAAAAAEAAAAAFdQS1kAAAAgHQuQBiLv
			mFdlDuE0unYSHjlZoyGQR43grrZCJisv+GVVVUlEAAAAEE5aNjg1
			vknXgL+dwQIWoFpDTEFTAAAABAAAAAdXUkFQAAAABAAAAANLVFlQ
			AAAABAAAAABXUEtZAAAAKExbffKMmrqv2GCZ5qAGFDIVDzeoJjg9
			NwyZ7xh+mbL9hkIP/2gQ5atVVUlEAAAAEOmy6izQi07ytkl4FWHo
			+YxDTEFTAAAABAAAAAZXUkFQAAAABAAAAANLVFlQAAAABAAAAABX
			UEtZAAAAKJ6ZykTzLw1/GlO5DLPCPcVaib4WbNum+mcTRQvAR15t
			t1TS/aABoBhVVUlEAAAAEItPkatU60W1qPC++DiE1Y5DTEFTAAAA
			BAAAAAVXUkFQAAAABAAAAANLVFlQAAAABAAAAABXUEtZAAAAKKEI
			rFaZP4a7KLpe8yCPScGGhC3qcMfDKzfkJ9Xm8sw7Zow6lqVWnZlV
			VUlEAAAAEArAFputk0v7rQbWHsC9OgRDTEFTAAAABAAAAANXUkFQ
			AAAABAAAAANLVFlQAAAABAAAAABXUEtZAAAAKIAAJ1XvAQA3jzeq
			NbcXMKm8twMF6pKxIjukh8uchC6VfZhfKEkhRs9VVUlEAAAAEJ5o
			FdNjK0S2hA3a1HgS2OJDTEFTAAAABAAAAAJXUkFQAAAABAAAAANL
			VFlQAAAABAAAAAFXUEtZAAAAKKkHmvZsAKjOkV8FIEL3sO9rtZmK
			RihpQk6BTZZaMrTtsmPQVALm4cxQQktZAAAAIKcMyJLRWvWlbUSG
			dpSmEgzhfwmQOEZe0usl3TJ7UIpFVVVJRAAAABBL/4E4TUBJdKyq
			Ib6YcWwTQ0xBUwAAAAQAAAABV1JBUAAAAAQAAAADS1RZUAAAAAQA
			AAAAV1BLWQAAACgLKiTQmaldBELJ7hyuO8rh+TxWOMP7sQ1zx2ct
			4OJy1gzbimTCDjY9U0lHTgAAABSLDTLS0qEu6cMok/TlF0D4+SEf
			ew==
			</data>
			<key>passcode</key>
			<string>0000</string>
			<key>passcodeKey</key>
			<string>3dcedfb43e07bf9117a8c27f56bd4640eafb7159265a2ee89d4fb16acdc9e98d</string>
		</dict>
	</dict>
	<key>lockers</key>
	<data>
	a0w0ADFHQUIxR0FC6pPafs8AK8SXnh3QdHha4pkTmeoi2414FrKo9w6Trs3GYUWJe0hf
	LlNqjsUHdGwba0xQAE1Wd0xhE8bWDNn0cE+Ojz2GaVDSiEnQAW+Rqn/NtcX5t6xukKGV
	eJHBB+dqC0tnxQenulMm3BHueyYeibw1eu/aZq/W7guvmAWKtaOeqJ5ojurER2tMKAB5
	ZWvE65fQh1lGKO8Dctsi1VyN928GBhDYnvDemcjQdXbtE8AC7kJZHm3TfmtMGAB5ZWtT
	7VqZeztGDijg5so34NHyD6AWr/5TRSDKa0wAAEVOT0QAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	</data>
	<key>nand</key>
	<dict>
		<key>#block-pages</key>
		<integer>128</integer>
		<key>#bootloader-bytes</key>
		<integer>1536</integer>
		<key>#ce</key>
		<integer>4</integer>
		<key>#ce-blocks</key>
		<integer>8192</integer>
		<key>#page-bytes</key>
		<integer>4096</integer>
		<key>#spare-bytes</key>
		<integer>224</integer>
		<key>banks-per-ce</key>
		<integer>2</integer>
		<key>bbt-format</key>
		<integer>3</integer>
		<key>boot-from-nand</key>
		<data>
		AQAAAA==
		</data>
		<key>device-readid</key>
		<integer>630511533</integer>
		<key>dumpedPageSize</key>
		<integer>4116</integer>
		<key>is-bfn-partitioned</key>
		<true/>
		<key>meta-per-logical-page</key>
		<integer>12</integer>
		<key>metadata-whitening</key>
		<data>
		AQAAAA==
		</data>
		<key>name</key>
		<data>
		ZGlzawA=
		</data>
		<key>partitions</key>
		<dict>
			<key>Boot Block</key>
			<dict>
				<key>Block Count</key>
				<integer>1</integer>
				<key>Block Offset</key>
				<integer>0</integer>
			</dict>
			<key>Effaceable</key>
			<dict>
				<key>Block Count</key>
				<integer>1</integer>
				<key>Block Offset</key>
				<integer>1</integer>
			</dict>
			<key>Filesystem</key>
			<dict>
				<key>Block Count</key>
				<integer>8176</integer>
				<key>Block Offset</key>
				<integer>16</integer>
			</dict>
			<key>Firmware</key>
			<dict>
				<key>Block Count</key>
				<integer>8</integer>
				<key>Block Offset</key>
				<integer>8</integer>
			</dict>
			<key>NVRAM</key>
			<dict>
				<key>Block Count</key>
				<integer>6</integer>
				<key>Block Offset</key>
				<integer>2</integer>
			</dict>
		</dict>
		<key>ppn-device</key>
		<false/>
		<key>use-4k-aes-chain</key>
		<data>
		AQAAAA==
		</data>
		<key>valid-meta-per-logical-page</key>
		<integer>10</integer>
		<key>vendor-type</key>
		<integer>1048596</integer>
	</dict>
	<key>passcode</key>
	<string>0000</string>
	<key>passcodeKey</key>
	<string>3dcedfb43e07bf9117a8c27f56bd4640eafb7159265a2ee89d4fb16acdc9e98d</string>
	<key>ramdisk compile time</key>
	<string>Dec  1 2013 19:16:03</string>
	<key>ramdisk revision</key>
	<string>4222556965e9</string>
	<key>serialNumber</key>
	<string>69044EDTA4S</string>
	<key>udid</key>
	<string>c595c8469d031223391aa9b0bdf84841b4abd81d</string>
	<key>wifiMac</key>
	<string>00:00:00:00:00:00</string>
</dict>
</plist>
